#about {
	background-image:linear-gradient(#FC466B, #3F5EFB);
	color:white;
	margin-top:300px;
	padding-top:30px;
	padding-bottom:50px;
}

.section-title {
	font-size: 40px;
	padding-bottom: 50px;
}

img {
	border-radius: 50%;
}

.about-wrapper__image {
	display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}